{% extends 'pwdmanger/base.html' %}
{% block title %}
    <title>密码列表</title>
{% endblock title %}
{% block bread %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'pwdmanger:passwd_list' %}">密码管理</a>
        </li>
        <li class="breadcrumb-item active">密码信息</li>
    </ol>
{% endblock bread %}
{% block table %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>IP地址</th>
            <th>密码</th>
            <th>系统平台</th>
            <th>修改时间</th>
            <td><b>操作</b></td>
        </tr>
        </thead>

        <tbody>
        {% for item in pwd_list %}
            <tr>
                <td>{{ item.ip_address }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.os_type }}</td>
                <td>{{ item.changed_time | date:"Y-m-d H:i:s" }}</td>
                <td style="text-align:center"><a class="btn btn-primary btn-sm"
                                                 href="{% url 'pwdmanger:passwd_edit' item.id %}">修改</a>&nbsp;<a
                        class="btn btn-sm btn-danger"
                        href="javascript:if(confirm('确实要删除吗?'))location='{% url "pwdmanger:passwd_delete" item.id %}'">删除</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}