{% extends 'pwdmanger/base.html' %}
{% block title %}
    <title>Passwd Manager - 新增密码</title>
{% endblock title %}
{% block page_wrapper %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">新增密码</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {#        {% if form.errors %}#}
        {#                            <div class="alert alert-danger alert-dismissable">#}
        {#                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
        {##}
        {#                                {{ form.errors.ip_address }}#}
        {#                            </div>#}
        {#                        {% endif %}#}
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
{#                        <i class="fa fa-plus-circle "></i>#}
                        新增物理机
                    </div>

                    <div class="panel-body">

                        <form class="form form-horizontal" action="{% url 'servermanger:server_add' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">机架位置</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="机架位置" value="{{ entry.position }}"
                                       name="position">
                                <p><span>{{ form.errors.position }}</span></p>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">型号</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="型号" value="{{ entry.server_type }}"
                                       name="server_type">
                                <p><span>{{ form.errors.server_type }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">序列号</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="序列号" value="{{ entry.sn }}"
                                       name="sn">
                                <p><span>{{ form.errors.sn }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">IP地址</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="IP地址" value="{{ entry.ip_address }}"
                                       name="ip_address">
                                <p><span>{{ form.errors.ip_address }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">主机名</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="主机名" value="{{ entry.host_name }}"
                                       name="host_name">
                                <p><span>{{ form.errors.host_name }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="用户名" value="{{ entry.user_name }}"
                                       name="user_name">
                                <p><span>{{ form.errors.user_name }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="密码" value="{{ entry.password }}"
                                       name="password">
                                <p><span>{{ form.errors.password }}</span></p>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">应用</label>
                                 <div class="col-sm-10">
                                <input class="form-control" placeholder="应用" value="{{ entry.apps }}"
                                       name="apps">
                                <p><span>{{ form.errors.apps }}</span></p>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">运维人</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="运维人" value="{{ entry.op }}"
                                       name="op">
                                <p><span>{{ form.errors.op }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">负责人</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="负责人" value="{{ entry.order }}"
                                       name="order">
                                <p><span>{{ form.errors.order }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">管理IP</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="管理IP" value="{{ entry.mgmt_ip }}"
                                       name="mgmt_ip">
                                <p><span>{{ form.errors.mgmt_ip }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">管理用户</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="管理用户" value="{{ entry.mgmt_user }}"
                                       name="mgmt_user">
                                <p><span>{{ form.errors.mgmt_user }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">管理密码</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="管理密码" value="{{ entry.mgmt_pass }}"
                                       name="mgmt_pass">
                                <p><span>{{ form.errors.mgmt_pass }}</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">维保时间</label>
                                <div class="col-sm-10">
                                <input class="form-control" placeholder="维保时间" value="{{ entry.ma_info| date:"Y-m-d" }}"
                                       name="ma_info">
                                <p><span>{{ form.errors.ma_info }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <button type="reset" class="btn btn-default">重置</button>
                                <button type="submit" class="btn btn-default">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_wrapper %}